html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #8758ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8758ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-option {
  width: 70px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  /* font-weight: bold; */
  background-color: #1a1a40; /* Общий фон для обоих опций */
  border: 1px solid #8758ff;
}

.toggle-option.selected {
  background-color: #8758ff; /* Фон для выбранной мужской опции */
}

/* .toggle-option.female {
  background-color: pink;
} */

input.round{
  border-radius: 0;
  border: transparent;
  background-color: transparent;
  color: rgb(255, 255, 255) !important;
  /* height: 8vh; */
  /* font-size: medium;
  font-weight: 400; */
  /* padding: 8px 8px; */
  /* margin: 8px 8px; */
}
/*  */
.registerInput{
  border-radius: 0;
  /* border: transparent; */
  background-color: transparent;
  color: rgb(255, 255, 255) !important;
  height: 8vh;
  width: 250px;
  padding-left: 6px;
  /* font-size: medium;
  font-weight: 400; */
  /* border-color: #8758ff; */
  border-radius: 10;
  /* background-color: #96f; */
  border-color: #96f;
}
/*  */
::placeholder{
  color: #666 !important;
  /* font-size: large; */
  font-weight: 500;
}

input.round:focus{
  box-shadow: none;
  background-color: transparent;
}

input{
  outline: none;
}

button.round{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #96f;
  border-color: #96f;
  color: white;
  font-size: small;
  font-weight: 600;
margin-top: 10px;
}

p{
  padding: 1px;
  margin-right: 30px;
}

.ull{
  list-style-type:none;
  padding: 0;
  margin: 0;
}

div.taska{
  border-radius: 10;
  background-color: #96f;
  border-color: #96f;
  color: white;
  font-weight: 400;
  height: 50px;
  margin: 13px 0;
  cursor: pointer;
  transition: color 0.1s, text-decoration 0.1s;
}

.edit{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 42px;
  bottom: 14px;
}

.trash{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 12px;
  bottom: 14px;
}

.purple-border{
  border: 1px solid #96f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fram{
  width: 100%;
  background-color: #1a1a40;
  margin: 20px 0px 20px 0px;
  color: rgb(240, 240, 240);
  border-radius: 10px;
  position: relative;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
